@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  /* Typography */
  --fs-200: 0.5rem; /*8px*/
  --fs-300: 0.75rem; /*12px*/
  --fs-400: 16px; /*16px*/
  --fs-450: 1.125rem; /*18px*/
  --fs-500: 1.25rem; /*20px*/
  --fs-800: 2rem; /*32px*/
  --fs-1200: 2.5rem; /*40px*/
  --fs-1400: 4.0625rem; /*65px*/
  --fs-1600: 5.5rem; /*88px*/

  --fw-400: 400;
  --fw-700: 700;

  --ff-default: "IBM Plex Sans", sans-serif;

  /* Colors */
  --clr-primary: #fa7453;
  --clr-secondary: #66e2dc;
  --clr-tertiary: #ffb964;
  --clr-neutral-0: #191826;
  --clr-neutral-100: #fcfaf9;

  /* Space */
  --space-0-5: 0.5rem; /*8px*/
  --space-0-75: 0.75rem; /*12px*/
  --space-1: 1rem; /*16px*/
  --space-1-25: 1.25rem; /*20px*/
  --space-1-5: 1.5rem; /*24px*/
  --space-1-75: 1.75rem; /*28px*/
  --space-2: 2rem; /*32px*/
  --space-2-25: 2.25rem; /*36px*/
  --space-2-5: 2.5rem; /*40px*/
  --space-2-5-1: 2.626rem; /*42px*/
  --space-3: 3rem; /*48px*/
  --space-3-25: 3.25rem; /*52px*/
  --space-4: 4rem; /*64px*/
  --space-5: 5rem; /*80px*/
}

/* RESET & REGULAR CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--fs-400, 16px);
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: var(--ff-default, sans-serif);
  font-size: var(--fs-400, 16px);
  font-weight: var(--fw-400, 400);
  color: var(--clr-neutral-0, #191826);
  background: var(--clr-neutral-100, #fcfaf9);
}

header {
  --space-4: 10.375rem;
}

main {
  background: var(--clr-neutral-0, #191826);
  position: relative;
}

main > div:first-child {
  --space-1-5: var(--space-3, 3rem);
  --space-4: 11.25rem;
}

h1 {
  --space-4: 1.25rem;
  font-size: var(--fs-1200, 2.5rem);
  line-height: var(--space-3, 3rem);
}

h2 {
  font-size: var(--fs-800, 2rem);
  line-height: var(--space-2-5, 2.5rem);
}

p {
  /* Paragraph's default line height is 26px */
  line-height: var(--line-height-p, 1.625rem);
}

span {
  --fs-450: var(--fs-500, 1.25rem);
  --space-4: var(--space-2, 2rem);
}

a {
  text-decoration: none;
}

img {
  --space-1: var(--space-0-5, 0.5rem);
  max-width: 100%;
  display: block;
}

/* Blur image if there's no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

button {
  --space-1-75: var(--space-2, 2rem);
  --space-3: var(--space-1, 1rem);
  --space-4: var(--space-1, 1rem);
  font: inherit;
  display: block;
  width: 100%;
  border: none;
}

footer {
  position: absolute;
  top: 107.5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

/* COMPOSITION */
.left-spacing > * + * {
  margin-left: var(--space-1-25, 1.25rem);
}

/* UTILITY */
.m-inline {
  margin-inline: var(--space-1-5, 1.5rem);
}

.m-top {
  margin-top: var(--space-0-75, 0.75rem);
}

.m-right {
  margin-right: var(--space-1, 1rem);
}

.m-bottom {
  margin-bottom: var(--space-4, 4rem);
}

.m-left {
  margin-left: var(--space-1, 1rem);
}

.p-top {
  padding-top: var(--space-2-5, 2.5rem);
}

.p-top-bottom {
  padding: var(--space-3, 3rem) 0;
}

.text-color-primary {
  color: var(--clr-neutral-0, #191826);
}

.text-color-secondary {
  color: var(--clr-neutral-100, #fcfaf9);
}

.background-primary {
  background-color: var(--clr-primary, #fa7453);
}

.background-neutral-0 {
  background-color: var(--clr-neutral-0, #191826);
}

.background-neutral-100 {
  background-color: var(--clr-neutral-100, #fcfaf9);
}

.border-radius {
  border-radius: var(--fs-300, 0.75rem);
}

.font-size {
  font-size: var(--fs-450, 1.125rem);
}

.font-weight-regular {
  font-weight: var(--fw-400, 400);
}

.font-weight-bold {
  font-weight: var(--fw-700, 700);
}

.line-height {
  line-height: var(--space-1-75, 1.75rem);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-justify {
  justify-content: center;
}

.d-inline {
  display: inline;
}

.overflow {
  overflow: hidden;
}

/* BLOCK */
.wrapper-illustration {
  position: absolute;
  top: -6.125rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.illustration {
  width: auto;
  height: 26.875rem;
  margin-inline: 5rem auto;
}

.card {
  position: absolute;
  top: 23.75rem;
}

.card__title,
.card__commercial {
  --space-1-5: var(--space-2-25, 2.25rem);
}

.card__commercial {
  --space-4: var(--space-2-25, 2.25rem);
}

.card__price,
.card__btn {
  --space-1-5: var(--space-2-5-1, 2.626rem);
}

.card__price {
  --space-1-75: var(--space-3-25, 3.25rem);
  --space-4: var(--space-2, 2rem);
  --fs-450: var(--fs-1400, 4.0625rem);
}

.footer__img-wrapper {
  --space-4: var(--space-2, 2rem);
}

.left-spacing {
  --space-4: var(--space-5, 5rem);
}

/* EXCEPTION */
.btn-hover-secondary:hover {
  background-color: var(--clr-secondary, #66e2dc);
}

.btn-hover-tertiary:hover {
  background-color: var(--clr-tertiary, #ffb964);
}

.img-hover-primary:hover {
  filter: invert(60%) sepia(26%) saturate(2850%) hue-rotate(325deg)
    brightness(99%) contrast(97%);
}
